#QN 1
The characteristics of tuples are as follows:
*  Item assignment is not possible for tuple.
*  Tuples are written within parenthesis.
*  Tuples can be manipulated (slicing, indexing,reversing,deleting,etc).
*  Tuples are immutable unlike list.

#QN 2
The two tuple methods are count() and index(). There are only two tuple methods as tuples are designed to be immutable .Having a smaller set of methods simplifies the tuple implementation and fits well with their intended use cases, in contrast to list.

In [1]:
#count method
t1 = (2,3,5,2,2,24,5)
c = t1.count(5)
print(c)

2

In [3]:
#index method
i = t1.index(3)
print(i)

1

#QN 3
Set datatypes in python do not allow duplication.

In [4]:
#removal of duplicates using set
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [6]:
set(List)

{1, 2, 3, 4}

#QN 4
The key difference between union() and update() is that union() returns a new set without modifying the original sets while  update() modifies the set on which it is called, adding elements from another set.

In [7]:
s1 = {5,7,9,11}
s2 = {5,7,11}

In [8]:
s1.union(s2)

{5, 7, 9, 11}

In [9]:
s1 # s1 is unchanged

{5, 7, 9, 11}

In [15]:
s2.update(s1)

In [17]:
s2# s2 is modified

{5, 7, 9, 11}

#QN 5
Dictionary is a datatype in python which helps to store keys along with values.Starting from Python 3.7, dictionaries in Python maintain the order of insertion of key-value pairs. This means that, as of Python 3.7 and later versions, dictionaries are ordered. The order of items in a dictionary is based on the order in which they were added.

In [19]:
dic = {"name":"Ashmit","age":18,"grade":12}

In [20]:
dic

{'name': 'Ashmit', 'age': 18, 'grade': 12}

In [27]:
d1 = {"color":"red","game":"football","d2":{"age":18}}
#Here d2 a new dictionary is added within a dictionary d1

In [28]:
d1

{'color': 'red', 'game': 'football', 'd2': {'age': 18}}

#QN 7

In [39]:
dict1 = {"lang":"Python","course":"Data Science Masters"}
l1 = ["Python","ML","Deep learning"]

In [40]:
dict1.setdefault("topic",l1)

['Python', 'ML', 'Deep learning']

In [41]:
dict1

{'lang': 'Python',
 'course': 'Data Science Masters',
 'topic': ['Python', 'ML', 'Deep learning']}

#QN 8
These are three view objects in dictionaries:
1.  .keys()
2.  .values()
1.  .items()

In [42]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [45]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [47]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [48]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])